body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header, img, nav {
  margin: auto;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: red;
}

figcaption {
  margin: auto;
  font-size: 8px;

}
